<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jshlearn.smicerp.mapper.DepotMapper">

    <update id="setDefaultDepotById">
        update smic_erp.smic_depot
        set is_default = true
        where id = #{id}
    </update>
    <update id="setNonDefaultDepotById">
        update smic_erp.smic_depot
        set is_default = false
        where id != #{id}
    </update>

</mapper>